{{>header}}

<h1><strong>Ingreso Administrativo</strong></h1>

<div class="container">
       <table class="table table-striped">
          <tbody>
             <tr>
                <td colspan="1">
                   <form class="well form-horizontal" action="/creacion" method="post">
                      <fieldset>
                         <div class="form-group"><!--NOMBRE-->
                            <label class="col-md-4 control-label">Nombre de usuario:</label>
                            <div class="col-md-8 inputGroupContainer">
                               <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span><input id="username" name="username" placeholder="Ingrese su usuario" class="form-control" required="true" value="" type="text"></div>
                            </div>
                         </div>
                         <div class="form-group"><!--DESC-->
                            <label class="col-md-4 control-label">Password:</label>
                            <div class="col-md-8 inputGroupContainer">
                               <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-list"></i></span><input id="password" name="password" placeholder="Ingrese su contraseña" class="form-control" required="true" value="" type="password"></div>
                            </div>
                         </div>                 
                      </fieldset>
                      <span class="input-group-btn" style="text-align:center">
                      <button class="btn btn-default">Crear</button>
                   </form>
                </td>
             </tr>
          </tbody>
       </table> 
</div>

{{>footer}}