{{>header}}
<h1><strong>Bienvenido</strong></h1>
    <h2>Rappi - Administración de contenido</h2>
    <br>
        <p>
            

           <div class="col-xs-3 col-sm-1">
              <img src="img/Rappi-header.jpg"
                   alt="Profile Picture" class="img-responsive img-rounded"
                   style="max-height: 100%; max-width: 500px;">
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            


        </p>

{{>footer}}